.container {
	position: relative;
	width: 100%; 
	max-width: 1080px;
	margin: 0 auto;
}

.logo img {
	width: 100%;
}
.logo--mixed, .logo__img {
    max-width: 100%;
}

.card {
	flex-direction: row;
  }
  .card img {
	width: 30%;
  }

