.container {
	position: relative;
	width: 100%; 
	max-width: 1080px;
	margin: 0 auto;
}

.logo img {
	width: 100%;
}
.logo--mixed, .logo__img {
    max-width: 100%;
}


.contacts > ul {
	margin-left: 5px;
}

.player-container {
	
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		padding-top: 30px;
		position: relative;
		}
.player-container iframe, .video-responsive object, .video-responsive embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		}


.player {
	flex-basis: 80%;
	padding:56.25% 0 0 0;
}